{% extends 'static.html' %}

{% block title %} Channels {% endblock %}

{%block content%}

<div class= "row">
    <div class = "col-md-6 px-4">

        <table class="table">
            <thead>
              <tr>
                <th scope="col">Channel label</th>
                <th scope="col">Channel ID</th>
                <th scope="col">MqttBroker</th>
              </tr>
            </thead>
            <tbody>
              {%if channels%}
              
              {% for ch in channels %}
              <tr>
                <th scope="row">{{ch.label}}</th>
                <td>{{ch.fieldId}}</td>
                <td>{{ch.mqttBroker}}</td>
              </tr>
              {% endfor %}

              {%endif%}

            
            </tbody>
          </table>
          

    </div>
    <div class ="col-md-6 px-4">

        <form>
            {% csrf_token %}
            <div class="form-group">
              <label>Channel Label</label>
              <input type="email" class="form-control" placeholder="Enter channel label">
            </div>
            <div class="form-group">
                <label for="sel2">Select broker from the list:</label>
                <select class="form-control" id="sel2">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
</div>

{% endblock %}