{% extends 'static.html' %}

{% block title %} {% endblock %}

{% block content%}

{% if user.is_authenticated %} Your, {{ user.username }} are already logged in!

{%else%}
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Login</button>
</form>
{% endif %}

{% endblock %}

<!-- 
    <form name="LoginForm" action="/user/login/" method="post">
      {% csrf_token %}

      <input type="text" id="username" name="username" placeholder="Username">
      <input type="password" name="password" id="password" placeholder="Password">

-->